<h1>{{title}}</h1>
<app-display [count$]="count$"></app-display>
<app-button [label]="'Zähle hoch'" [inc]="true" (clickEvent)="onClickEvent($event)"></app-button>
<app-button [label]="'Zähle runter'" [inc]="false" (clickEvent)="onClickEvent($event)"></app-button>